.task {
    width: 440px;
    height: 40px ;
    background-color: rgb(206, 205, 205);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    padding: 0 6px ;
  }

  .check-container {
    width: 15px;
    height: 15px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
  }

  .delete-button {
    background-color: transparent;
    border: none;
  }

  .delete {
    font-size: 1.5rem;
    color: #fff;
  }

  .delete:hover {
    cursor: pointer;
  }

