.tasks {
    display: flex;
    flex-direction: column;
}

.task-header {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
}

.task-header div {
    display: flex;
    gap: 5px;
}

.task-header div p,
.task-header div span {
    font-size: 14px;
}

.task-header div span {
    color: palevioletred;
}